@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');

  /* Estilos para el corazón */
 

  .container {
    font-size:10vw; /* Cambia el tamaño del contenedor */
    color: red;
    z-index: 2;
    animation: 3s ease infinite corazon;
    text-shadow: 4px 4px 25px rgba(255, 0, 0, 0.6);
    margin-right: 450px;
}

.container .contenido {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
}

.container .contenido h1 {
    font-size: 20px;
    
}

.container .contenido p {
    font-size: 10px;
    
}

.fa-heart {
    font-size: 10vw; /* Cambia el tamaño del corazón */
    margin-bottom: 20px; /* Agrega espacio debajo del icono */
    margin-right: 10px; /* Ajusta el margen derecho para evitar solapamientos */
}

@keyframes corazon {
    50% {
        transform: scale(1.3);
    }
}









#card {
   height:500px;
   width:800px;
   margin:5em auto;
   position: fixed;
  top: -15px;
   left: 25%;
   display:flex;
   visibility:hidden;
   
}
#card h1 {
   font-size:3em;
   margin:0;
   color:pink;
 font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}
#card p {
   font-size: 1.5em;
   text-align: justify;
   padding-left: 30px; /* Espacio en blanco a la izquierda */
   padding-right: 30px; /* Espacio en blanco a la derecha */
}


.side {
   background:#eee;
   height:550px;
   width:400px;
/*    border:1px solid red; */
   padding:10px;
}
.side.one {
   width:320px;
   transform:skew(10deg,20deg);
   background:linear-gradient(90deg, #fff, #fff 40%, #ddd);
}
.side.two {
   transform:skew(10deg,-15deg);
   background:linear-gradient(-90deg, #fff, #fff 40%, #f0f0f0);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Sacramento', cursive;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  background-image: url(flowers.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9; /* Puedes ajustar el valor según lo desees */
  z-index: -1; /* Asegura que este pseudo-elemento esté detrás de otros contenidos */
}

 
 .valentines-day {
   position: relative;
   cursor: pointer;
 }
 
 .envelope {
   position: relative;
   filter: drop-shadow(0 0 25px rgba(0,0,0,.3));
 }
 
 .envelope:before {
   content:"";
   position: absolute;
   width:254px;
   height:254px;
   background-color: #ff9494;
   transform: rotate(-45deg);
   border-radius: 0 15px 0 0;
   left:-37px;
   top:-82px;
 }
 
 .envelope:after {
   content:"";
   position: absolute;
   background-color: #ff9494;
   width:360px;
   height:225px;
   left:-90px;
   top:45px;
 }
 
 .heart {
   position: relative;
   background-color: #e01911;
   display: inline-block;
   height: 180px;
   top:50px;
   left:0;
   transform: rotate(-45deg);
   width:180px;
   filter: drop-shadow(0 -10px 25px rgba(0,0,0,.3));
   transition: .5s;
 }
   
 .heart:before, .heart:after {
   content:"";
   background-color: #e01911;
   border-radius:50%;
   height: 180px;
   width: 180px;
   position: absolute;
   }
   
 .heart:before {
   top:-100px;
   left:0;}
   
 .heart:after {
   left:100px;
   top:0;}
 
 .front {
   position: absolute;
   width:0;
   height:0;
   border-right: 190px solid #fbd2d2;
   border-top: 113px solid transparent;
   border-bottom: 113px solid transparent;
   top:44px;
   left:80px;
   z-index:4;
 }
 
 .front:before {
   content:"";
   position: absolute;
   width:0;
   height:0;
   border-left: 190px solid #fbd2d2;
   border-top: 113px solid transparent;
   border-bottom: 113px solid transparent;
   top:-113px;
   left:-170px;
 }
 
 .front:after {
   width:0;
   height:0;
   position: absolute;
   content:"";
   border-bottom: 150px solid #fce7e9;
   border-right:180px solid transparent;
   border-left: 180px solid transparent;
   top:-36px;
   left:-170px;
 }
 
 .text {
   position: absolute;
   font-family: arial;
   letter-spacing:5px;
   text-align: center;
   color: white;
   z-index:2;
   top:80px;
   left:15px;
   transition: .5s;
 }
 
 .valentines-day:hover .heart {
   transform: translateY(-50px) rotate(-45deg);
 }
 
 .valentines-day:hover .text {
   transform: translateY(-50px);
 }
 
 

/* Estilos para el pie de página */
footer {
  background-color: #d434c7;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para el corazón */


@media only screen and (min-width: 769px) {
  /* Estilos para pantallas que no sean móviles */

  #card {
    width: auto; /* Revertir el ancho del contenedor a su valor por defecto */
    left: auto; /* Revertir la posición horizontal a su valor por defecto */
    top: auto; /* Revertir la posición vertical a su valor por defecto */
  }

  #card h1 {
    font-size: 3em; /* Ajustar el tamaño del título según necesites */
  }

  #card p {
    font-size: 1.2em; /* Ajustar el tamaño del texto según necesites */
    padding: 20px; /* Ajustar el espacio entre párrafos según necesites */
  }

  .valentines-day {
    display: block; /* Revertir la visualización de la sección de día de San Valentín a su valor por defecto */
  }

  .envelope:before,
  .envelope:after {
    display: block; /* Revertir la visualización de los elementos adicionales del sobre a su valor por defecto */
  }

  .heart,
  .text {
    display: block; /* Revertir la visualización del corazón y el texto a su valor por defecto */
  }

  .front {
    display: block; /* Revertir la visualización del frente del sobre a su valor por defecto */
  }
}
